* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.bar1 {
    background: linear-gradient(
        90deg,
        #101010 0%,
        /*#0c0c2c*/ #101010 50%,
        #101010 100%
    );
    box-shadow: inset -3px -3px rgba(45, 45, 45, 0.5);
}

.bar2 {
    background: #202020;
    opacity: 0.9;
    box-shadow: inset -3px -3px rgba(45, 45, 45, 0.5);
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #909090;
}

#workspaces {
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 20px;
    transition:
        background-color 0.25s ease,
        color 0.25s ease,
        box-shadow 0.25s ease;
    margin: 2px;
}

#workspaces button:hover,
#workspaces button.active:hover,
#workspaces button.focused:hover {
    background: #4e4e5e;
    color: #ffffff;
    box-shadow: inset 0 -3px #3e3e4e;
    transition:
        background-color 0.25s ease,
        color 0.25s ease,
        box-shadow 0.25s ease;
}

#workspaces button.active,
#workspaces button.focused {
    background: /*#64727D*//*#333333*/
        /*#111111*/ #2e2e3e;
    box-shadow: inset 0 -3px #202020;
    color: #ffffff;
    transition:
        background-color 0.25s ease,
        color 0.25s ease,
        box-shadow 0.25s ease;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #000000 /*#64727D*/;
    box-shadow: inset 0 -3px #ffffff;
}

.bar2 #clock,
.bar2 #battery,
.bar2 #cpu,
.bar2 #memory,
.bar2 #disk,
.bar2 #temperature,
.bar2 #backlight,
.bar2 #network,
.bar2 #pulseaudio,
.bar2 #wireplumber,
.bar2 #custom-media,
.bar2 #tray,
.bar2 #mode,
.bar2 #idle_inhibitor,
.bar2 #scratchpad,
.bar2 #power-profiles-daemon,
.bar2 #mpd,
.bar2 #window,
.bar2 #custom-notification {
    margin-top: 10px;
    margin-bottom: 10px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#window,
#custom-appmenu,
#custom-notification {
    padding: 0 10px;
    color: #ffffff;
    margin: 2px 5px 2px 0;
    background: /*#101020*/ none;
    /*background-color: #222222;*/
    border-radius: 10px;
    color: #ffffff;
    border: none /*1px solid #1e2939*/;
    transition:
        background-color 0.25s ease,
        color 0.25s ease;
    margin-top: 3px;
    margin-bottom: 3px;
}

#custom-appmenu {
    font-size: 35px;
}

#image {
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
    background: none;
    color: #ffffff;
    border: none /*1px solid #1e2939*/;
    transition:
        background-color 0.25s ease,
        color 0.25s ease;
    margin-top: 3px;
    margin-bottom: 3px;
}

#image:hover {
    background-color: #505050;
    color: #000000;
    transition:
        background-color 0.25s ease,
        color 0.25s ease;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#mpd:hover,
#window:hover,
#custom-appmenu:hover,
#custom-notification:hover {
    background: #303030;
    transition:
        background-color 0.25s ease,
        color 0.25s ease;
}

#image {
    margin-left: 10px;
    margin-right: 10px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left:first-child {
    margin-left: 10px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right:last-child {
    margin-right: 10px;
}

/*
#clock {
    background-color: #64727D;
}

#battery {
    background-color: #000000;
    border-radius: 10px;
    color: #ffffff;
}*/

/*#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}*/

/*
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
*/

/* Using steps() instead of linear as a timing function to limit cpu usage */
/*#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
    background: none;
    color: #ffffff;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}*/

label:focus {
    background-color: #000000;
}
